.text-area-wrapper {
  box-sizing: border-box;
  font-family: var(--font-default);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--input-gap);
  width: 100%;
  color: var(--color-text-default);
}

.text-area-container {
  height: 120px;
  box-sizing: border-box;
  font-family: var(--font-default);
  font-size: var(--input-font-size);
  width: 100%;
  padding: var(--input-text-area);
  border-width: var(--input-border-width);
  border-style: solid;
  border-color: var(--color-border100);
  outline: none;
  border-radius: var(--input-border-radius);
  color: var(--color-text-default);
  &:focus,
  &:focus-within,
  &:focus-visible,
  &:-webkit-autofill {
    box-shadow: var(--shadow-focus);
  }

  &.danger {
    border-color: var(--color-danger200);
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:-webkit-autofill {
      border-color: var(--color-danger200);
    }
  }

  &.warning {
    border-color: var(--color-warning200);
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:-webkit-autofill {
      border-color: var(--color-warning200);
    }
  }

  &.success {
    border-color: var(--color-success200);
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:-webkit-autofill {
      border-color: var(--color-success200);
    }
  }

  &.info {
    border-color: var(--color-info200);
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:-webkit-autofill {
      border-color: var(--color-info200);
    }
  }

  &::placeholder {
    color: var(--color-text-muted);
  }

  &.disabled {
    &::placeholder {
      color: var(--color-disabled);
    }
    color: var(--color-disabled);
    border-color: var(--color-border100);
  }
}
