.tag-container {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: var(--tag-border-width);
  border-style: solid;
  border-color: transparent;
  gap: var(--tag-gap);
  border-radius: var(--tag-border-radius);
  width: fit-content;

  // Size variants
  &.size-xs {
    padding: var(--tag-padding-xs);
    p,
    .icon-custom {
      font-size: var(--tag-font-size-xs);
    }
  }
  &.size-s {
    padding: var(--tag-padding-s);
    p,
    .icon-custom {
      font-size: var(--tag-font-size-s);
    }
  }

  &.size-m {
    padding: var(--tag-padding-m);
    p,
    .icon-custom {
      font-size: var(--tag-font-size-m);
    }
  }

  &.size-l {
    padding: var(--tag-padding-l);
    p,
    .icon-custom {
      font-size: var(--tag-font-size-l);
    }
  }

  // Priority styles
  &.primary {
    border-color: var(--color-accent200);
    background-color: var(--color-accent200);
    p {
      color: var(--color-white);
    }

    &.danger {
      background-color: var(--color-danger200);
      border-color: var(--color-danger200);
    }
    &.success {
      background-color: var(--color-success200);
      border-color: var(--color-success200);
    }
    &.warning {
      background-color: var(--color-warning200);
      border-color: var(--color-warning200);
    }
    &.info {
      background-color: var(--color-info200);
      border-color: var(--color-info200);
    }
    &.custom {
      background-color: var(--tag-custom-bg-color-primary);
      border-color: var(--tag-custom-border-color-primary);
    }
  }
  &.secondary {
    border-color: var(--color-accent200);
    background-color: transparent;
    p {
      color: var(--color-accent200);
    }

    &.danger {
      border-color: var(--color-danger200);
      p {
        color: var(--color-danger200);
      }
    }
    &.success {
      border-color: var(--color-success200);
      p {
        color: var(--color-success200);
      }
    }
    &.warning {
      border-color: var(--color-warning200);
      p {
        color: var(--color-warning200);
      }
    }
    &.info {
      border-color: var(--color-info200);
      p {
        color: var(--color-info200);
      }
    }
    &.custom {
      border-color: var(--tag-custom-border-color-secondary);
      p {
        color: var(--tag-custom-border-color-secondary);
      }
    }
  }
}
