.overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  &.open {
    display: flex;
  }
}
