.alert-container {
  box-sizing: border-box;
  display: flex;
  align-items: start;
  gap: var(--alert-gap);
  padding: var(--alert-padding);
  border-radius: var(--alert-border-radius);
  font-size: 10px;
  p,
  .icon-custom,
  .close-icon {
    font-size: var(--alert-font-size);
  }
  span {
    font-size: var(--alert-font-size-caption);
  }
  &.danger {
    &.show-background {
      background-color: var(--color-danger100);
    }
  }
  &.success {
    &.show-background {
      background-color: var(--color-success100);
    }
  }
  &.warning {
    &.show-background {
      background-color: var(--color-warning100);
    }
  }
  &.info {
    &.show-background {
      background-color: var(--color-info100);
    }
  }
}
