.search-input-wrapper {
  position: relative;
  width: 100%;
}

.search-input-container {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--input-gap);
  width: 100%;

  input {
    padding: var(--input-gap) var(--input-search-padding-x);
  }
}

.icon-left-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: var(--input-gap);
  pointer-events: none;
  left: var(--input-gap);
}

.icon-right-search {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}
